body {

    background-color: white;

}

.header {
    overflow: hidden;
    width: 100%;
    height: 80px;
    background-color:#fff;
    padding: 10px;
    position: fixed;
    margin: 0px;
    z-index: 20;

}

.header-wrapper {
    height: 60px;
    width: 90%;
    /* 
fluidez do site
*/
    margin: auto;
    max-width: 1170;
    min-width: 400px;
    position: relative;

}


.logo {
    position: relative;
    filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
    margin-top: -5px;
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
    height: 80px;
    width: 80px;
 

}

.fooo {
    background-color:#fff;
}
.alo { padding-bottom:50px; background-color:#fff;}
.logo2 {
    filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
    margin-top: -15px;
    float: left;
    height: 60px;
    padding-right: 20; }

.menu {
    margin-top: 25px;
    float: right;

}

.nav {
    display: inline;
    list-style: none;

}

li {
    height:60px;

    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.logo-titulo {
    display: inline;
    position: relative;
    line-height: 60px;
    vertical-align: center;
}

.content {
padding-top: 100vh;

    z-index:3;
    position: relative;
}

.content-wrapper {
    background-color: #fff;

}



h1 {}

.welcome {
    text-align: center;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding: 20px;
    
}

p {
    padding: 20px;
}

.footer {
    height: 30px;
    margin-bottom: 0px;
    width: 100%;
    background-color: black;
    color: #fff;
    position: relative;
z-index: 20;
}

.footer-wrapper {
    margin: auto;
    max-width: 800px;
    min-width: 400px;
    width: 90%;
    text-align: center;
    z-index: 20;
}

.evento {
    width: 28.3%;
    padding: 20px;


    text-align: center;
    float: left;
    
}

.header-bg {
    background-image: url(img/header-bg.gif);
    background-size:cover;
    background-position: center;
    background-color: #000;
    width: 100%;
    height: 100vh;
    margin: auto;

    animation: focus 15s ease-in-out infinite;
  -webkit-filter:blur(5px); 
  z-index:1;
  position:absolute;
}
 @keyframes focus { 
  0% {-webkit-filter:blur(0px);}
  30% {-webkit-filter:blur(0px);}
  50% {-webkit-filter:blur(4px);}
  60% {-webkit-filter:blur(0px);}
  80% {-webkit-filter:blur(0px);}
  90% {-webkit-filter:blur(6px);}
  100% {-webkit-filter:blur(0px);}
} 
}

.evento-wrapper {
        background-color: #f6f6f6;
    padding: 20px;
}

.sobre {
    position: relative;
}

.container {
    background-color:#fff;
    padding-top:15px;
}

.calendario {
    
    position: relative;
}

.container1 {
    margin-top: -75px;
}

/*-- camera details --*/
.camera{
  position: fixed;
  height:100%;
  width:100%;
  z-index:3;
  pointer-events:none;
}
.battery{
position: absolute;
top: 100px;
left: 20px;
width: 80px;
height: 34px;
border: 2px solid white;
border-radius: 5px;
padding: 4px;
box-sizing: border-box;
}
.battery:after{
content: ' ';
background: white;
width: 5px;
height: 21px;
position: absolute;
right: -10px;
border-radius: 0px 2px 2px 0px;
top: 4px;
}
.juice{
background:red;
width:15%;
height:100%;
animation: blinky 1s ease-in-out infinite;
animation-delay: 2s;
}
@keyframes blinky { 
  0% {background:transparent;}
  49% {background:transparent;}
  50% {background:red;}
}
.rec{
  position:absolute;
  right: 30px;
  top: 100px;
  color:#fff;
  font-size:30px;
}
.rec span span{
  width:20px;
  height:20px;
  display:inline-block;
  background:red;
  border-radius:50%;
  margin-right:10px;
  animation: blinky 1s ease-in-out infinite;
}
.meta{
  position:absolute;
  bottom:0px;
  right:10px;
  color:#fff;
  font-size:20px;
  letter-spacing:1px;
}
.exposure{
  border: 2px solid #fff;
  width: 18px;
  height: 18px;
  display: inline-block;
  position: relative;
  top: 3px;
  margin-left: 0px;
}
.exposure:after{
  content: ' ';
  position: absolute;
  width: 0px;
  display: block;
  height: 0px;
  top: 0px;
  right: 0px;
  border-left: 0px solid transparent;
  border-right: 20px solid white;
  border-bottom: 0px solid transparent;
  border-top: 20px solid transparent;
}
.exposure span{
  font-size:12px;
}
.exposure span.plus{
  position: absolute;
  top: -2px;
  left: 2px;}
.exposure span.minus{
  color: #371c3b;
  position: absolute;
  z-index: 1;
  right: 0px;
  font-size: 17px;
  bottom: -5px;
}
.timer{
  position:absolute;
  bottom:20px;
  left:30px;
  color:#fff;
  font-size:20px;
  letter-spacing:1px;
}
.test {
  position: relative;
  width:100vw;
  height:100vh;

  overflow: hidden;
}

.test::before {
  content: '';
  position: absolute;
  top:0;
  left:0;
  bottom: 0;
  right:0;
  background-image: linear-gradient(
    rgba(0,0,0,.5) 0px,
    rgba(0,0,0,0) 2px,
    rgba(0,0,0,.7) 3px
  );
  background-size: 100% 4px;
  animation: .43s interference infinite ease-in-out alternate;  
    transform-origin:0 0%;
}


@keyframes interference {
  to {
    transform-origin:0 100%;
    transform: scale(1.15)
  }
}

/* bootstrap header*/
#home,#about,#portfolio,#contact{
	padding-top:70px;
}
#home{
	padding:48vh 0;
	background:url(https://images.unsplash.com/photo-1437823055869-5309288494c8?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=e999fb6dcdcda3cfda2f6f4797c2ca9e) no-repeat;
	background-size:cover;
	background-attachment:fixed;
}
#about{
	padding:48vh 0;
		background:url(https://images.unsplash.com/photo-1427466920301-a96b3cadc6c8?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=16e1a17a0fc83b0f49f2389a395287d5) no-repeat;
	background-size:cover;
	background-attachment:fixed;
}
#portfolio{
	background-color:rgba(0,0,0,0);
	background:url('https://images.unsplash.com/photo-1439761414027-4f4ebeeda3a3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=c0d2c6cca8f2b6de84c3c8999ea453f2') no-repeat;
	background-size:cover;
	background-attachment:fixed;
}
.mainFooter{
	box-shadow:0 0px 62px -12px #737373;
	background-color:#f8f8f8;
	padding:20px 0;
}
.projectPlaceholders{
	height: 300px;
	margin-bottom: 30px;
	background: rgba(152, 170, 224, 0.15);
	border: 1px solid white;
	line-height: 300px;
	text-align: center;
	color: white;
}
#contact{
	padding:30vh 0 40vh;
	background:url(https://images.unsplash.com/photo-1441943250180-ea34e997ffad?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=7a8287157709e8f7833b68595a1298db) no-repeat;
	background-size:cover;
	background-attachment:fixed;
}

.white-text{
	color:white;
}

.sobretop {
    height: 250px;
    overflow: hidden;
    margin-top:0px;
    z-index: 2;
    position: relative;
}

.imagemsobre {
    margin-top:-250px
}

.header-bg-wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    margin: auto;
    background-color: #000;
    z-index: 1;
}
.titulo1 {
    text-align: center;
    margin-bottom:50px;
}

.img-responsive {
    
}

.evento-title {
    padding-left:20px;
    margin-bottom:-20px;
}
.navegacao {
	height:100px
}
